[2020-05-19 08:52] geonanorch opened #2 "Thank you + missing elements in form object"
First a big thank you + a star for publishing this polyfill !

While testing it I realized that although using the `FormData` API works, more traditional form usage such as in the following snippet does not:
[code]

Like with a regular input element, under Chrome (so polyfill not used) the `form` object includes `form.myel` and `form[0]`. With Firefox (so with polyfill) those entries are missing.

[2020-05-19 12:48] calebdwilliams commented on #2
Good call @geonanorch, I'll add that real quick. FWIW, the custom element itself will be responsible for setting its own value. The `ElementInternals` feature doesn't sync `formAssociatedElementInstance.value` with the form value, but it _does_ attach the element to the form in the way you describe. See [this pen for a demo](https://codepen.io/calebdwilliams/pen/GRpwVeW?editors=1010) of what I'm t

[2020-05-19 12:57] calebdwilliams commented on #2
This should be fixed as part of 0.0.16.

[2020-05-19 12:57] #2 closed

[2020-05-27 13:59] enjoythelive1 opened #3 "The event emitted when an element is invalid is 'false'"
So, in the in this [line](https://github.com/calebdwilliams/element-internals-polyfill/blob/3995fa2f4b3291819c6d694b7919402c94749c71/src/element-internals.js#L36) the invalid event that is supposed to be emitted has an `"false"` name, instead of the probably intended `valid` or `invalid`, so this polyfill is not triggering the `invalid`event correctly.

[2020-05-27 17:33] enjoythelive1 opened #4 "Internals setValidity calls reportValidity, but that is not part of the expected behavior"
The behavior of `setValidity` in the ElementInternals polyfill does not match the behavior described in the [`ElementInternals` spec](https://html.spec.whatwg.org/multipage/custom-elements.html#dom-elementinternals-setvalidity).

It calls `reportValidity`, but it should not.

[2020-05-27 17:36] calebdwilliams commented on #4
This is fixed in 0.0.17. Thanks for letting me know.

[2020-05-27 17:36] #4 closed

[2020-05-27 17:46] calebdwilliams commented on #3
This was fixed in 0.0.18.

[2020-05-27 17:46] #3 closed

[2020-05-27 18:35] enjoythelive1 commented on #3
This is funny, I have already made a PR to fix this. Thanks for the fix.

Also, it would be nice to have this covered by a test.

[2020-05-27 21:05] calebdwilliams commented on #3
Yeah, I'm planning on redoing the testing entirely here soon. I just hopped on and fixed these real quick while I was listening to a meeting.

PRs are always welcome, just let me know you want to take it on and I will assign the fix to you.

If you see anything else that's off or a missing feature, I'd be thrilled to accept a contribution of field another issue.

[2020-06-05 20:40] geonanorch commented on #2
Thank you @calebdwilliams , works for me!
It is still not perfect (custom element not accessible as `form[n]`, not listed under `form.elements`), but there does not seem to be a way to add to `HTMLFormControlsCollection`...

[2020-06-06 12:59] calebdwilliams commented on #2
Are you saying it is still not accessible under `form.inputName`?

[2020-06-06 14:24] geonanorch commented on #2
Sorry if I was unclear, `form.inputName` is fine, `form[0]` is what is still missing. If the custom element could be added to `form.elements`, probably that would result in `form[0]` being populated, but that does not seem to be possible.
So much legacy in this whole HTML business...

[2020-06-07 01:36] calebdwilliams commented on #2
Unfortunately yeah. Although it might be possible to overwrite that getter. I might have to play with that this week.

[2020-07-07 08:24] web-padawan opened #6 "README lacks description of currently supported features"
The line before "Current Limitations" section seems to be incomplete:

Would you like to add a list of features, or maybe remove it for now?

[2020-07-09 01:26] calebdwilliams commented on #6
I've updated the docs a bit to describe the currently-supported features. Let me know if you have any comments or critiques, but I'm going to close this issue for now. Thanks for pointing this out!

[2020-07-09 01:26] #6 closed

[2020-07-24 13:37] BurnedToast commented on #2
Just came across the same problem.

The custom elements form values will also not be included in the resulting request data of the form (when a `action` and `method` is set on the form element). I put up a jsFiddle to show the problem:

[jsFiddle](https://jsfiddle.net/qnvLkdzp/)

Executed in Chrome, the value of the "custom" field will be submitted - in Firefox it is missing.

Should this be a new

[2020-07-24 13:59] calebdwilliams commented on #2
That's more or less the same issue and, to be honest, I'm not sure there is a great way of doing that outside of using `<input type="hidden">`. I used to have that as part of this code, but I removed it in favor of using `FormData`.

[2020-07-25 08:00] geonanorch commented on #2
Sadly I can only confirm what BurnedToast reported: if I use 'action' instead of handling the submit with Javascript, custom elements are not included in Firefox & Co.
Looks like `<input type="hidden">` is the only way to ensure backward-compatibility...

[2020-07-25 12:47] BurnedToast commented on #2
So it is not planed to support that input-type-hidden workaround in this polyfill?

Maybe there could be an configuration to activate this feature on demand!? Sounds like you already have all the source code for this.

[2020-07-25 12:53] calebdwilliams commented on #2
I do. I’m considering re-enabling it. Trying to decide if it should it be on demand or should I just drop those inputs in by default and be done with it.

Do you have any preferences?

[2020-07-25 13:01] geonanorch commented on #2
I would suggest configurable/on-demand, and enabled by default.

[2020-07-25 13:03] BurnedToast commented on #2
I think its a main feature of this polyfill. I would welcome it to be enabled by default :)

[2020-10-12 17:42] TechQuery opened #13 "[feature request] Type Definition for TypeScript"
This polyfill is great! So I'm working on integrating **Element Internals** into my **Web Components** framework [_WebCell_](https://web-cell.dev/), but I found no `.d.ts`...

@calebdwilliams

[2020-10-13 15:26] calebdwilliams commented on #13
Hey @TechQuery, I’ll try to get to this ASAP.

[2020-10-13 21:55] calebdwilliams commented on #13
OK @TechQuery, I've actually worked to migrate the repo over to TypeScript (although I'm generally not a huge TypeScript fan, but wanted to give it a go for this project). Can you check out the [ts](https://github.com/calebdwilliams/element-internals-polyfill/tree/ts) branch and build that and let me know if it works for you?

[2020-10-14 01:40] calebdwilliams commented on #13
Alright, I confirmed this is working, you can [see it in action on this demo on StackBlitz](https://stackblitz.com/edit/element-itnernals-types).

[2020-10-14 01:40] #13 closed

[2020-10-14 10:21] TechQuery commented on #13
@calebdwilliams It works, thanks!

[2020-10-16 10:18] BurnedToast commented on #2
Is this feature still on the roadmap? Do you need some support for this one?

[2020-10-16 12:05] calebdwilliams commented on #2
I literally added it back in yesterday in version `0.1.0`.

[2020-11-17 03:29] ar2r13 opened #14 "Useless console.logs in production"
`initRef()` calls useless `console.log(input)`

[2020-11-18 04:10] calebdwilliams commented on #14
This was fixed by @koichirosobue in #15 and released as version 0.1.1.

Thanks for pointing it out @ar2r13!

[2020-11-18 04:10] #14 closed

[2020-11-26 15:41] BurnedToast commented on #2
Hi, was just able to test the new version. Works great.
Except one use case. When I use setFormValue with a "File" Object.

The spec allows this and will upload the file as attachment.

The good thing is ... i may have a solution for you. You could create a hidden input-field outside the shadow-root with the type="file" so you may need to hide it with the style instead of type="hidden".

That fiel

[2020-12-22 18:12] TechQuery opened #17 "setFormValue() is incompleted"
## What I expect

[code]

## Related links

 - [Specification](https://html.spec.whatwg.org/multipage/custom-elements.html#dom-elementinternals-setformvalue)
 - https://github.com/calebdwilliams/element-internals-polyfill/issues/2#issuecomment-734367044

[2020-12-28 22:14] calebdwilliams commented on #17
Hey, I'd be happy to take a look at a PR addressing this issue, but I'm not sure of a really good way to do this just yet. I'll do some research. I'll ping @BurnedToast as well. My issue with the comment is that I don't know the best way to determine if you want that element to be a file … maybe I can take a look at the type of data being passed to the first argument of  `setFormValue` and modify

[2020-12-29 07:40] TechQuery commented on #17
My scenario is similar with https://web.dev/more-capable-form-controls/#setting-a-value .

My [Preview File Input][1] component needs to set a `File` value.

[1]: https://github.com/EasyWebApp/BootCell/blob/540bb825d1b1143367e92edb1974a8d60e0f4dbf/source/Form/FileInput.tsx#L53

[2020-12-29 08:44] BurnedToast commented on #17
I also thought about opening a new issue on this one. Thanks @TechQuery for doing so.
The determination is pretty simple i guess. You just need to do an `value instanceof File` check.

I am currently on vaccation, but i could invest some more time into this one next year :)

[2020-12-29 13:40] TechQuery commented on #17
@BurnedToast @calebdwilliams Happy new year, stay strong, and away from COVID-19~

[2020-12-29 17:29] calebdwilliams commented on #17
Looking at this again, I'm not sure it makes sense to add because there doesn't appear to be a reliable way to support this feature in Safari. One of the goals here should be to create a consistent experience as best we can. Having this work in Firefox and not in Safari (or IE11/older versions of Edge) could lead to some apps not working. I'm tempted to mark this as `won't fix` due to that. I'll k

[2021-01-04 07:45] BurnedToast commented on #17
After some research I could not find any solution for Safari, that could be integrated into this polyfill.

But I found a possible workaround for my use case, that should also work for you @TechQuery.
As shown above, there is currently no way to create a new FileList in Safari etc. But you dont need a new mutable list if you just want a 100% copy of an input-file-element within your shadow dom.

S

[2021-01-04 09:55] BurnedToast commented on #17
For my FileUpload-Component, that internally uses an input type="file" element, I ended up using attachInternals() to get support for all the other polyfilled stuff (validation etc).

I just replaced the code for "elementInternals.setFormValue" with the following:

[code]

* It is a AngularElements code example
* `this.elementRef.nativeElement` is the host element of my webcomponent
* `this.outOfS

[2021-01-04 10:33] TechQuery commented on #17
@BurnedToast Thanks your example codes~

My File Input component did use `<input type="file" hidden />` before, but now I pefer a polyfill way in my code.

I feel sad for Safari users...

[2021-01-04 13:58] calebdwilliams commented on #17
Same. My buddy recently [put this together to illustrate that web devs now have a new problem on our hands](https://issafarithenewie.com/).

I’m going to keep this issue open and hopefully add a caveat to the README about this. I am interested in any solution that hits all modern browsers (bonus points for IE11 compatibility).

[2021-01-04 19:55] TechQuery commented on #17
Thanks your buddy, and I'll show https://issafarithenewie.com/ to my clients~

Add one more reason to this site: _Every browser on iOS is Safari indeed !_

[2021-01-21 22:25] brion-fuller opened #18 "setFormValue should accept null values"
Expected Behavior:
When defining a checkbox in a form,  checking the checkbox will set a form key value pair.  When the checkbox is deselected, the [key,value] pair is remove.

Current Behavior:
When deselecting a checkbox, the key is still available with a value of "undefined".

[2021-01-22 20:48] brion-fuller opened #20 "Non-name form elements create a null FormData key"
Current behavior:

1. Create a custom element with form associated.
2. Do not add a name attribute.
3. Serialize FormData
4. You will see a key of null

Expected behavior:
1. Create a custom element with form associated.
2. Do not add a name attribute.
3. Serialize FormData
4. You shouldn't see the element in the form

[2021-02-09 11:47] #18 closed

[2021-02-09 11:47] #20 closed

[2021-03-04 23:04] brion-fuller opened #26 "Multiple form elements with same name"
If you have multiple form elements with the same name, the values are not appended to the form.

Example:
[code]

Expected:
In the example above, I will see two entries in the formData object resulting in `name=['on','greg']`

Current behavior:
I will only receive the last elements value `name='greg'`.

[2021-04-26 10:55] reno1979 commented on #2
The demo fails on Firefox. The elements fail to register to the form when using Firefox.

[2021-05-01 02:35] calebdwilliams commented on #26
Hey @brion-fuller, I'm finally getting around to this one. I think Chrome's implementation is a bit different than you might expect. Given:

[code]

you should only get one value out of the `console.log` you will only get `foo`. I have a [reproduction of this on CodePen](https://codepen.io/calebdwilliams/pen/gOgNXQK?editors=1010). I believe this is working as expected.

Although this brings up a g

[2021-05-01 02:47] calebdwilliams opened #29 "Polyfill doesn't support native popup validation"
I'm not really sure the best way to achieve this bit of parity with the native behavior. I've thought about creating a custom element to do this, but that feels kind of gross. I could just use a throwaway DOM node which seems better maybe? Help and ideas definitely welcomed.

[2021-05-01 20:32] brion-fuller commented on #26
Actually I thought this at first too.  If you update the `get` to `getAll` you will see all the values set.  `get` will always just return the first value but the others still exist.
[code]

[2021-05-01 22:39] calebdwilliams commented on #26
Is the polyfill behaving as expected then?

[2021-05-03 03:53] brion-fuller commented on #26
Ah this is working in Firefox.  I will close.  I was on an older version.

[2021-05-03 03:53] #26 closed

[2021-05-03 03:55] brion-fuller commented on #29
hmm....Could this work with having the input type="hidden" not be hidden but just 0 height and width?  So it is still focusable?

[2021-05-03 12:10] calebdwilliams commented on #29
I thought about that, but messing with the user’s focus like that is generally a bad idea and we don’t want to have any elements focusable that wouldn’t be otherwise for completeness and accessibility purposes.

[2021-05-06 20:31] lucaelin opened #30 "form.reportValidity() and form.checkValidity() are not influenced by component validity"
Hey, thank you for this great polyfill! I am looking forward to browser implementation coming in!

During development I noticed a few inconsistencies regarding validity checking called on the associated form element.
Specifically `form.reportValidity()` and `form.checkValidity()` both return `true` even if the internals validity is set to false. Additionally they do not cause the components `inval

[2021-05-07 01:56] calebdwilliams commented on #30
Hey @lucaelin, thanks for the insight here. I've made a few updates that I think will address your issues, take a look at version `0.1.33`. I _might_ have missed something, but I think we're in a good place now.

I'm going to close this issue for now, if there are anything I missed, please open a new issue.

[2021-05-07 01:56] #30 closed

[2021-05-07 07:11] lucaelin opened #31 "lit-html + attachInternals inside constructor causes some elements to not associate correctly"
I found another inconsistency while using lit-html to render associated-components.
Basically, if you run `attachInternals()` inside the constructor, it fails to initialize when using a lit-html template inside another template.

I do not know enough about the internals of lit-html but I assume it is caused by the additional step of `<template>`ing the component, without any connection to the oute

[2021-05-08 18:12] calebdwilliams commented on #31
Looks like when the `ElementInternals` instance is constructed it's still in a context of a `DocumentFragment`, so it doesn't initialize right away. But, this also never triggers the mutation observer when it's actually connected to the parent fragment. Not sure how to fix this. I'll keep looking at it.

[2021-05-08 19:33] calebdwilliams commented on #31
OK, I was able to address this my attaching a separate `MutationObserver` to the `DocumentFragment`, let me know if this is working for you in version `0.1.34`. Thanks for raising this issue.

[2021-05-08 19:33] #31 closed

[2021-05-09 09:11] lucaelin commented on #31
It's working great! 🎉 Thank you so much!

[2021-06-03 03:10] rfool opened #33 "LitElement compatibility issues"
`createHiddenInput` tests if the element has a property `updateComplete`, and if that exists it will insert the hidden input when that promise resolves:

[code]

Looks like that was written with LitElement in mind - which has that `updateComplete` property.

But it introduces two new issues when `setFormValue()` is called in `firstUpdated()` or `updated()`:

1. multiple calls to `setFormValue()` w

[2021-07-20 07:58] reno1979 opened #34 "elements undefined"
Thanx for the polyfill!

I did manage to break it though  (did not mean to :) )

I'm using multiple forms, not all forms contain form associated custom elements.

Therefor the used weakmap does not contain each form.

On a form change event , this breaks:

https://github.com/calebdwilliams/element-internals-polyfill/blob/dc043393825d53ad3105e295d58d77b7e5ac5600/src/utils.ts#L216

It does not valid

[2021-07-20 13:15] reno1979 opened #35 "override method does not call own custom-element handler"
The override method is used for calling the 'reportValidity'and 'checkValidity' methods of the custom-element.

But it uses the registered internals for calling these methods, therefor the own handler is never called.

[code]

I made a change to the override method: (no typescript)

[code]

[2021-07-20 13:37] reno1979 commented on #35
ok nevermind, this is the same behaviour on Chrome.

[2021-07-20 16:05] calebdwilliams commented on #35
@reno1979 are we good to close this issue then?

[2021-07-20 16:25] reno1979 commented on #35
@calebdwilliams  yes this can be closed

[2021-07-20 19:05] #35 closed

[2021-07-21 13:52] calebdwilliams commented on #34
Hey, would you mind creating a minimal reproduction?

[2021-07-22 01:02] calebdwilliams commented on #33
Thanks for the issue. Could you create a reproduction (CodePen would be great) just so I can work from the right starting point?

[2021-07-22 14:17] chrschdev opened #36 "lit v2 - hidden inputs will never be deleted?"
Hey,

I invoke the setFormValue method multiple times for a custom checkbox component, e.g. on connected callback or on attribute change callback. The polyfill then seems to add for each invocation a new hidden input field, but will never remove the existing ones before. Have debugged some parts of your code, code lines like "hiddenInput.remove() will be invoked, but the hidden input field will ne

[2021-07-23 18:51] calebdwilliams commented on #36
Nope, that shouldn’t be happening. I’ll look in to it.

[2021-07-24 13:24] reno1979 commented on #34
no problem:

https://jsfiddle.net/uy2f58on/2/

I wanted to see if validating the elements var was enough but I was not able to convert the typescript code on the machine I'm working on (restrictions), so I used the index.js to rebuild the modules (es6/7 format.)

[2021-07-25 04:02] calebdwilliams commented on #34
Hey @reno1979, give `element-internals-polyfill@0.1.41` a try and see if things are behaving as expected. Closing this for now.

[2021-07-25 04:02] #34 closed

[2021-07-25 04:12] calebdwilliams commented on #33
Looks like this was introduced by @brion-fuller in #27. I'm wondering if any additional feedback could be provided here.

[2021-07-25 04:13] calebdwilliams commented on #36
Hey @chrschdev, I can't seem to reproduce this particular issue. Would you mind creating a reproduction for me in CodePen? It doesn't have to be super complex, I just want to observe the behavior and see if I can figure out what's happening exactly.

[2021-07-25 04:33] brion-fuller commented on #33
Yeah the problem with in this case was how lit rendered elements asynchronously.  I will have to check for example but what would happen is the hidden element would effect static lit templates.  So rendering for the element would be broken.

[2021-07-25 04:42] calebdwilliams commented on #33
Could you provide a bit more context around what you mean, @brion-fuller? I have [an example working on CodePen](https://codepen.io/calebdwilliams/pen/MWmrgLW?editors=0010), but don't want to introduce a regression for your issue.

[2021-07-25 17:21] brion-fuller commented on #33
Is the CodePen with the removal of the `ref. updateComplete`.  It looks to be working for select elements.
So the case I saw was mostly around select elements.

If you had something like
[code]

[2021-07-25 18:04] calebdwilliams commented on #33
Perfect. I'll cut a new release. Thanks @brion-fuller and @rfool.

[2021-07-25 18:06] calebdwilliams commented on #33
This should be fixed in `element-internals-polyfill-0.1.42`.

[2021-07-25 18:06] #33 closed

[2021-07-25 18:20] calebdwilliams commented on #36
Hey @chrschdev, [here's the reproduction I was using](https://codepen.io/calebdwilliams/pen/abWEpmW?editors=0010). The results are consistent across Chrome and Firefox. The input is removed if and only if the `internals.setFormValue` method is called with `null` (calling it with an empty string leaves an empty `input[type="hidden"]`.

There _might_ be a bug here, but based on the information in yo

[2021-07-25 18:20] #36 closed

[2021-07-26 10:30] chrschdev commented on #36
Hey @calebdwilliams ,
thanks for fixing that bug with version 0.1.42. Works now!

Kindly regards
Christoph

[2021-07-26 12:24] chrschdev opened #37 ""disabled" attribute won't be observed"
Hey @calebdwilliams,
i have seen that the "disabled" attribute is on the filter list of the MutationObserver. Is there any reason for that?
I can't see in the official documentation any information about that.

To reproduce my issue with that:

1. create a input of type checkbox, add attributes `checked` and  `value="test"`
2. in browser, use the inspector and add a `disabled` attribute on-the-fly

[2021-07-26 12:47] chrschdev commented on #37
Ah was only a misunderstanding from my side. The right way is to set the form value to null in my application, and observe the disabled attribute by myself.

Closed!

[2021-07-26 12:47] #37 closed

[2021-07-26 12:58] calebdwilliams commented on #37
I’d actually love to know what is the default Chrome behavior here and if the polyfill aligns with it. I want to dive into this a bit.

[2021-07-27 06:47] elmerbulthuis opened #38 "Custom form elements does not appear in form.elements"
Custom form elements appear in the elements list of the associated form control in Chromium. But when I check this in Firefox, using this polyfill, the custom elements do not appear in the elements list.

All the elements have their name property set, as suggested in the readme: "If the element has a name, a refernce to the host element will be saved on the form object.".

[2021-07-27 07:40] elmerbulthuis commented on #38
never mind! this elements do appear after setting the form value via `elementInternals.setFormValue`

[2021-07-27 07:40] #38 closed

[2021-07-28 12:11] enjoythelive1 opened #40 "Invalid elements allow trigger inline `submit` handlers and preact submit handlers"
The issue is that these listeners are registered before the polyfill has time to register its own listener to stop the propagation of the submit event.

Here I include 3 reproductions:

* Inline listener in the html: https://plnkr.co/edit/RMzepi3OuFHIfRu2
* Inline listener, but programatically: https://plnkr.co/edit/kv5GKJpwUvG2c20q
* Preact: https://jsitor.com/DwDrFShze

[2021-07-30 01:21] calebdwilliams commented on #40
This is partially resolved in `element-internals-polyfill@0.1.43`. I'm afraid I don't know enough about how Preact handles the `onSubmit` event to know how to get around that particular issue.

@enjoythelive1, would you have any idea how to access that callback function (or know anyone who might)? I'm guessing it's in Preact's internals and we _might_ be out of luck there.

[2021-07-30 08:55] enjoythelive1 commented on #40
I think it has to do with how the vdom renders the components. The listeners to the form are attached before the polyfill can attach them, because the custom elements are instantiated after the form was instantiated with its own properties.

I think we need to catch the event before the target phase of it ('using capture'). Maybe a listener with `useCapture=true`  at the root node of where the for

[2021-08-06 07:33] andrico1234 opened #41 "Disabled elements don't have `:disabled` or [internals-disabled] matchers added"
Hi Caleb, Thanks for the wonderful Polyfill

I'm working on a UI web component library and have a test suite that runs tests in Chromium, WebKit, and Firefox.

For the most part, the element-internal-polyfill works great, but I'm having trouble using it with disabled elements.

In short, when an form-associated custom element has a `disabled` attribute, Chrome automatically applies the `:disabled`

[2021-08-06 07:44] andrico1234 commented on #41
Could it be as straight forward as removing the `disabled` attribute from the MutationObserver filter, and running a callback whenever the attribute changes that toggles the `internals-disabled` class?

[2021-08-07 12:02] andrico1234 commented on #41
Note: I tried removing `disabled` as an attribute in the MutationObserver filter, but it caused the tests to run where the Chrome behaviour is now out of sync with the other browsers.

My thoughts are leading me to believe that Firefox + Webkit aren't setting the :disabled pseudo-class because it should only added to certain [form inputs or form-associated elements](https://html.spec.whatwg.org/mu

[2021-08-14 15:41] andrico1234 commented on #41
friendly bump @calebdwilliams

[2021-08-30 14:00] aigan opened #43 "form.elements still not polyfilled"
As a workaround I added `form._elements = initSet` in order to get the elements from the internal set. Better than nothing.

[2021-09-01 00:54] calebdwilliams commented on #41
This was released in version 0.1.44

[2021-09-01 00:54] #41 closed

[2021-09-09 17:27] michaelwarren1106 opened #44 "[docs] examples of using the AOM properties"
Im definitely interested in the AOM properties of this polyfill, but I dont see any examples in the README of how to set it up inside a custom element.

i would assume its something like calling `initAom` from https://github.com/calebdwilliams/element-internals-polyfill/blob/master/src/aom.ts#L43 in the custom element constructor, but it would be good for an example to be provided.

If I'm right a

[2021-09-10 21:02] jrunning opened #45 "Latest Firefox Developer Edition/nightlies break polyfill"
This is an issue only affecting Firefox Developer Edition and experimental/nightly versions so I don't know if I'd call it a bug, but it tripped me up so I thought it might be useful to others to mention it here.

<details>
<summary>
Today I updated Firefox Developer Edition from 91.0 to 93.0b3 and discovered that form-associated custom elements are no longer being polyfilled.
</summary>

Specific

[2021-09-12 18:02] calebdwilliams commented on #45
I definitely think this is something to track (I will keep this issue open), but until Nightly enables `ElementInternals` without a flag, I think I'll leave this alone. It doesn't really make sense to wrestle with something that experimental and I assume that any one who knows enough to turn that flag on will have accepted the risks of doing so.

[2021-09-12 18:05] calebdwilliams commented on #44
Good callout, fortunately you don't even need to do that, you can simply use the AOM setters, so:

[code]

should suffice.

[2021-09-12 18:07] calebdwilliams commented on #43
Yeah, unfortunately `form.elements` (which is an `HTMLFormControlsCollection[]`) isn't mutable by the user. I'm more than happy to consider solutions, but don't have a really good idea how to implement that behavior right now.

[2021-09-12 19:14] calebdwilliams commented on #40
Yeah, that's exactly it. It looks like I'll have to patch `document.createElement` to get this to work properly ([working example here](https://jsitor.com/44GIDvAIw)). I'm not entirely sure I like this approach, but I'm still thinking about it.

[2021-10-10 11:19] tbroyer opened #47 "`role` is not polyfilled"
https://html.spec.whatwg.org/multipage/custom-elements.html#accessibility-semantics
https://w3c.github.io/aria/#ARIAMixin

Related discussion: https://lit-and-friends.slack.com/archives/C03PF4L4L/p1633855031316800?thread_ts=1633853574.309000&cid=C03PF4L4L

[2021-10-11 15:25] #45 closed

[2021-10-11 17:37] #47 closed, assigned to nobody

[2021-10-11 23:26] jimmont commented on #29
I suggest adding examples with possible solutions and/or setup a separate project that consumes this polyfill and provides the functionality. I'm currently working through an implementation and if I find something relevant am inclined to set it up as a sort of contribution or example depending on how it goes. This solves for the uncertainty and ensures the underlying solution's value is maximized.

[2021-10-13 04:38] brandonmosher opened #48 "form:valid and form:invalid CSS selectors inconsistent with validity of form-associated custom elements"
form:valid does match/form:invalid does not match a form with an invalid form-associated custom element.

I created a quick patch because I needed this functionality in a project I was working on. My solution was to attach an input event listener to the form that toggles "internals-valid" and "internals-invalid" attributes on the form based on the result of form.checkValidity(). You can then selec

[2021-10-20 14:11] jimmont commented on #43
When elements `this.attachInternals()` does `this` provide the details needed to lookup elements from the `form.elements` getter (with `this.localName` perhaps?) and return a similarly behaving collection when called? As in the getter is substituted somehow. This is from my brief look at the prototype getter in Safari which I successfully overwrote where $0 was a form element reference in the devt

[2021-10-25 23:55] jimmont opened #51 "license? [question]"
May I please know what are the license and terms of use for this "element-internals-polyfill" work and repo?

the package.json has `"license": "MIT",`, does that cover it as MIT licensed?

Thank you.

[2021-12-01 17:26] Quintinon opened #52 "Upgrading from version 0.1.46 to 0.1.47 causes webpack 4 to have an error"
When I upgraded to the latest version of element-internals-polyfill (0.1.47) our webpack bundle command started failing with the following error:

[code]

./src/main.js line 2 is simply
`import "element-internals-polyfill";`

We are using webpack 4.46.0

I tried doing an `npm ci` (clean install) and the issue persisted. Downgrading back to element-internals-polyfill 0.1.46 resolved the issue.

[2021-12-14 22:12] Quintinon commented on #52
I was able to upgrade to version 0.1.49 and the issue was no longer present. Closing this issue.

[2021-12-14 22:12] #52 closed

[2021-12-18 14:18] xdev1 opened #53 "Too many `invalid` events"
It seems that the polyfill dispatches more `invalid` events than expected.
Please have a look a the following demo.
If you enter something in the input field you'll see that in firefox on each input an `invalid` event is fired, while in Chrome it's not (the latter is the correct behavior, I guess).
https://codesandbox.io/s/nifty-glade-vm1ju?file=/src/index.js

Used FF version: 95.0.1 (Windows), us

[2021-12-23 17:28] calebdwilliams commented on #53
This has been fixed in `element-internals-polyfill@0.1.50`.

[2021-12-23 17:36] #53 closed

[2021-12-23 17:38] calebdwilliams commented on #51
@jimmont Yes, this is MIT licensed. I added the explicit LICENSE.md file. Thanks for asking.

[2021-12-23 17:38] #51 closed

[2021-12-23 17:39] calebdwilliams commented on #48
Closing due to the merging of #49

[2021-12-23 17:39] #48 closed

[2021-12-23 17:43] calebdwilliams commented on #43
@jimmont would you be interested in adding this via PR? This could be globalized by using the `formsMap` object. If not, I'll take a stab at it soon.

[2021-12-23 18:18] calebdwilliams commented on #44
Added an example to the README.

[2021-12-23 18:18] #44 closed

[2022-01-08 22:36] calebdwilliams commented on #43
OK, I'm finally getting around to this one, I have a [CodePen with a start for this](https://codepen.io/calebdwilliams/pen/eYGLdwd?editors=1010), but I don't have the sorting algorithm quite right. I'll work on it as I have time and the mental bandwidth, but this is moving in the right direction. If anyone wants to help out with this, I'd still appreciate it, just let me know.

[2022-01-24 20:25] calebdwilliams opened #55 "Does not work with the @customelements/scoped-custom-element-registry polyfill"
The scoped custom element registry polyfill has different patch for `attachInternals`, this polyfill should shift to be compatible.

[2022-01-24 20:25] calebdwilliams commented on #55
Depends on the release of https://github.com/webcomponents/polyfills/pull/482.

[2022-01-26 18:36] calebdwilliams commented on #55
Closed in version `0.1.53`.

[2022-01-26 18:36] #55 closed

[2022-01-27 23:01] calebdwilliams commented on #17
@TechQuery @BurnedToast this seems to work in the latest version of Safari based on the Pen linked above. Can anyone confirm? If so, is anyone interested in opening up a PR for this?

[2022-01-27 23:04] calebdwilliams commented on #29
@jimmont did you ever come up with anything?

[2022-02-02 01:50] jimmont commented on #29
Not beyond an idea, I began the setup some time ago in this fork and had to focus on other work https://jimmont.github.io/element-internals-polyfill/ I was simply planning to figure out the way the polyfill worked and use events ui's could use to implement a related solution. In another project I have an overlay solution for basic overlay ux elements (like native form select, title tooltips, etc)

[2022-02-20 20:03] tbroyer opened #62 "No "backwards compatible" way to match custom states on shadow parts"
The library somehow *emulates* custom states through attributes so they can be matched in CSS when the polyfill is used. Unfortunately this won't allow matching the custom states when the element is exposed as a shadow part, as `::part()` can only be followed by a non-structural state selector or pseudo-element selector.

For instance, given a custom element `c-e-inner` with custom state `--c-s` a

[2022-02-20 20:53] calebdwilliams commented on #62
I wonder if the overhead (both in terms of bundle size and watchers) is worth the payoff. Unfortunately custom states can’t quite be polyfilled fully because CSS won’t parse rules it doesn’t recognize.

Is there a reason you couldn’t do `[state—foo]::part(inner)` as a stop gap instead of adding additional overhead?

[2022-02-21 00:23] tbroyer commented on #62
`[state-foo]::part(inner)` would work here: it's the inner part (`c-e-inner` element) that has a `state-foo` attribute, not the containing (`c-e`) element.

How about only adding `state--${state}` parts, just like with the `state--${state}` attributes, so you'd match it with `::part(inner state--foo)`? (`::part(state--foo)` would also match, but could match other parts, such as `::part(other state

[2022-02-21 19:45] #62 closed

[2022-02-22 19:58] rhelling opened #65 "Polyfill checkValidity evaluates too false when component is disabled"
When a formAssociated web component is disabled it doesn't report as valid when using the polyfilled version. The current implementation within the latest versions of Firefox and Chrome acts differently. To demonstrate this behaviour I created this example code sandbox:

https://codesandbox.io/s/litelement-formcontrol-example-d3jbut

When you open de sandbox directly in a browser without support f

[2022-02-22 23:28] calebdwilliams commented on #65
Pretty simple fix, looks like I just need to make sure that we need to return `true` if `internals.willValidate === false` for check and report validity. This has been released in `element-internals-polyfill@1.0.2`.

[2022-02-22 23:28] #65 closed

[2022-02-22 23:30] calebdwilliams commented on #65
Here's a [forked version of your project using the latest polyfill version](https://codesandbox.io/s/litelement-formcontrol-example-forked-m0vvup).

[2022-04-12 08:30] zhoukekestar opened #68 "Support shadydom in IE11"
Hi, thanks for your awesome project ! We try it in IE 11, run most code correctly but find some wrong in webcomponents polyfill.

You can find detail in this issue: https://github.com/webcomponents/polyfills/issues/504 .

I think it can be fixed very simple by modify `attachShadowObserver` like this:

[code]

[2022-04-13 01:26] zhoukekestar commented on #68
Yes, do different logic by detect shadydom is a better way.

[2022-04-21 08:02] pjdevries opened #69 "Unmodified form input not posted"
Hi @calebdwilliams. Thanx for this polyfill.

I am a programmer but not quite a JS expert and probably missing the obvious. So please be gentle :)

I have a form with a regular `<input>` field and an `<input>` wrapped in a minimalistic web component. Both fields get an initial `value`, that show up nicely on the form. When modifying the initial values and submitting the form, the new values show u

[2022-04-21 10:54] calebdwilliams commented on #69
It’s difficult to say without a reproduction. Could you make one with CodePen and I’ll take a look?

[2022-04-21 13:16] calebdwilliams commented on #69
Hmmm, it definitely should. Can you make sure your component has a name attribute?

[2022-04-21 14:19] pjdevries commented on #69
Yes, it has a name attribute. I realize it's not ideal, but let me post my code here nevertheless:

The JS component code:

[code]

And for completeness the PHP page:

[code]

[2022-04-23 13:23] pjdevries commented on #69
Hi @calebdwilliams. Any new insights on this one. Or am I being to impatient now?

[2022-04-23 17:57] calebdwilliams commented on #69
He @pjdevries this is working as expected. I ran a simple PHP server locally with your files and am getting the expected result in Chrome, Firefox and Safari. What browser are you testing with?

[2022-04-23 18:03] calebdwilliams commented on #68
@zhoukekestar can you try `element-internals-polyfill@1.1.3`

[2022-04-23 18:25] pjdevries commented on #69
Hi @calebdwilliams.

I'm testing with FireFox on a local server as well. A docker based Apache server, running the browser from within Ubuntu. Using an X server from my WSL2 system, to be exact :) Are you sure we're both testing the same thing. What I mean is, did I explain well enough which problem I experience?

With the code I posted above, this is the literal `$_POST` output I get when submitt

[2022-04-23 19:37] calebdwilliams commented on #69
My steps and results:

1. Run `php -S localhost:9000` on my computer with the above code
2. Open localhost:9000
3. Click the submit button
4. See output `$_POST: Array ( [formData] => Array ( ['regular'] => Regular text ['web-component'] => Web component text ) )`

I get this same behavior on

- Chrome 100
- Firefox 99.0.1
- Safari 14.1.1

As far as I can tell this is the expected behavior. When m

[2022-04-23 20:35] pjdevries commented on #69
Yes, that's the expected result. I'll do it the way you did tomorrow and let you know what happens.

[2022-04-24 02:12] zhoukekestar commented on #68
Test `1.1.3` on IE 11, and it works now. Thanks a lot.

[2022-04-24 02:12] #68 closed

[2022-04-24 11:15] pjdevries commented on #69
Unfortunately my lack of sufficient JS knowledge is now playing tricks on me. When running the script with the built-in web server, like you did, the Web Component does not even load properly, failing with the dreaded `Uncaught SyntaxError: expected expression, got '<'` error.

I don't have a clue why it works as expected in your setup and it doesn't in mine and my lack of JS knowledge and experie

[2022-05-07 05:37] jrj2211 commented on #43
Hey Caleb, curious if you could give an estimated progress update on this? I've been heavily relying on form.elements in my app not realizing that breaks on Safari :( Just trying to figure out if I should come up with a temporary solution but if this is nearing release I'll just wait for it. Awesome work on this polyfill, form associated elements are so useful!

[2022-05-08 18:46] calebdwilliams commented on #43
I might be able to add something soon. I’d also gladly accept a pull request @jrj2211

[2022-05-11 23:37] jrj2211 commented on #43
I'm taking a look at this and might be able to provide a PR. Seems like what's needed for your code pen is just to finish up the elements getter? Fixing the sorting and returning an object that mimics HTMLCollection?

[2022-05-12 01:09] calebdwilliams commented on #43
@jrj2211 yeah, that’s basically it. You might check the scoped registry polyfill. I did something similar there you might be able to pull from.

[2022-05-12 05:33] jrj2211 commented on #43
@calebdwilliams I don't have much experience with TS and not sure exactly where this should go in the source code but here's an updated code pen:

https://codepen.io/jrj2211/pen/WNMGvaN?editors=1011

It now sorts properly. Not sure if you have any objections on using recursion but my "compare" function does call itself to check if there are multiple poly filled elements that are before the next el

[2022-06-06 14:13] #69 closed

[2022-08-15 16:12] sipris opened #73 "Custom elements are not polyfilled when added within a subtree"
## Example
Consider the following code:
[code]
The `control` will not be polyfilled. Executing `control.internal.setValidity(..)` will throw:

[code]

## Reason
The `MutationObserver` will only check if the *added node* (which is the `form` element) is a form-associated custom element, but the subtree is not searched for form-associated custom elements, so the `control` in the example is never ass

[2022-08-15 17:50] calebdwilliams commented on #73
Hey @sipris thanks for reporting this issue. I'm trying to duplicate the error locally, but I haven't been able to so far. [Would you mind either forking this Pen](https://codepen.io/calebdwilliams/pen/OJvaJbv?editors=0010) or giving me guidance on how to reproduce? Once I have that I will work toward a solution as quick as possible.

[2022-08-17 08:12] ale-cci opened #74 "FormData values polyfilled in reverse order"
Hi! 👋

Firstly, thanks for your work on this project!

It seems that when a custom-element internals are of type FormData, the value are attached in the page in the opposite order.

The probelm is probably caused by [createHiddenInput](https://github.com/calebdwilliams/element-internals-polyfill/blob/cb39e1778140c93a693bfa2342859561b6d711df/src/utils.ts#L44) that directly appends the input tag bel

[2022-08-17 08:50] sipris commented on #73
Hi @calebdwilliams, thanks for the quick response. Here is a [jsfiddle](https://jsfiddle.net/4etmjzr6/) with the issue. I might have to add that this issue is only relevant to the Safari browser.

[2022-08-17 13:46] calebdwilliams commented on #74
Nice catch. I’m away from my computer right now but will get this merged/released ASAP.

[2022-08-17 14:54] calebdwilliams commented on #74
Fixed in `element-internals-polyfill@1.1.7`

[2022-08-17 14:54] #74 closed

[2022-08-18 01:21] calebdwilliams commented on #73
This should be fixed in version 1.1.8. Can you confirm on your end?

[2022-08-18 10:39] calebdwilliams commented on #73
OK, I [updated my original Pen with the new code and this is now working as expected](https://codepen.io/calebdwilliams/pen/OJvaJbv?editors=0010). Thanks again @sipris.

[2022-08-18 10:39] #73 closed

[2022-08-18 13:11] sipris commented on #73
Hi @calebdwilliams, I confirm the fix. Thank you 👍

[2022-08-31 11:32] odeniel opened #78 "id with invalid querySelector character throw error on get labels"
I have an error with element with id like "ex.ample[0]" because of chars ".", "[", "]"...
The error throw on element-internals.ts >   get labels(): LabelsList
line:
`return hostRoot.querySelectorAll<HTMLLabelElement>(`[for=${id}]`) as unknown as LabelsList;`

This error is fixed using "" in selector like that:
`return hostRoot.querySelectorAll<HTMLLabelElement>(`[for="${id}"]`) as unknown as Label

[2022-09-05 10:34] leventozen opened #79 "Is there any way to lazy import polyfill in Lit"
Hi all,
We have a design system project named [Baklava](https://github.com/Trendyol/baklava). We built it with lit and esbuild.
We want to dynamically import this polyfill when the user's browser is Safari. However, we don't want to add this in the released package, because it will add ~5KB in gzip. Is there any way to do this?

Thank you in advance.

[2022-09-09 13:00] calebdwilliams commented on #78
This is fixed in `element-internals-polyfill@1.1.12`.

[2022-09-09 13:00] #78 closed

[2022-09-12 16:56] sipris commented on #40
This issue is still a thing. Run this [example (before fix)](https://jsitor.com/4dubii4Hd) in **Safari** or overwrite the function `isElementInternalsSupported`.
[code]
This example shows that the submit event handlers added to the form programmatically can submit data even if the form is invalid.

To prevent this, we should listen to the submit events on the submit button and prevent default hand

[2022-09-15 00:48] calebdwilliams commented on #40
Should be fixed in `element-internals-polyfill@1.1.13`. Thanks @sipris!

[2022-09-15 00:48] #40 closed

[2022-10-18 15:10] bennypowers opened #85 "Label clicks not polyfilled"
Consider this [example switch component](https://lit.dev/playground/#gist=8f0de56f7a881b830db9e953f37affc6)

[code]
When it is labeled, clicking the label should toggle the switch:
[code]

In Firefox and Chromium (supporting), clicking the label will toggle the switch
However, in epiphany (webkit) clicking the label will not toggle the switch.

The polyfill should add click listeners to labels ass

[2022-10-31 10:02] jpzwarte commented on #85
Just ran into this difference as well; the polyfill focuses instead of clicks the element:

[code]

Pretty easy to change to `ref.click.bind(ref)`?

[2022-10-31 18:05] #85 closed

[2022-11-13 10:27] bennypowers opened #88 "Enclosing fieldset's `disabled` attr does not disable polyfilled elements"
Please consider https://codepen.io/bennyp/pen/KKemLEG?editors=1010

[code]

In this case, using GNOME Web 43.0-66-g2cd7f8ec4+ (WebKitGTK 2.38.2), with the polyfill loaded, I observed that toggling `disabled` on the fieldset had no effect on `x-checkbox`.

**Expected**: `:disabled` or known-limitations equivalent should be applied to the FACE, mouse clicks should be prevented.

[2022-11-16 21:45] lennartbuit opened #89 "ElementInternals does not contain form if denoted by form attribute"
Buttons can associate to forms that they are a descendant of, or forms that have an id specified by the [`form`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-form) attribute.

So can form associated custom buttons in Chrome (107), see for example this sandbox: https://codesandbox.io/s/loving-lena-p56owk?file=/index.html . Both the button inside the form, as well as the one

[2022-11-17 14:21] calebdwilliams commented on #89
Good callout. Looks like this works generally for all APIs as well. I'll have to poke around at the best way to solve this unless you'd like to take a shot at it.

[2022-11-17 14:22] calebdwilliams commented on #88
I'll try to work on this a bit unless you'd like to tackle it.

[2022-11-17 14:28] bennypowers commented on #88
I can grab this one:

the MutationObserver will toggle the string value of aria-disabled on each associated child when fieldset parent's disabled changes

[2022-11-17 14:28] lennartbuit commented on #89
I added a workaround to our internal DS, if `this._internals.form` is unavailable, try `document.getElementById(this.form)`. But I know too little of the specs to know whether that is _really_ correct.

[2022-11-17 14:31] calebdwilliams commented on #89
Yeah, my concern is basically wanting to confirm how this works if the form attribute changes midstream and how any values or behavior pivot.

[2022-11-17 15:11] calebdwilliams commented on #89
Yeah, here's an [example of what I was worried about](https://codepen.io/calebdwilliams/pen/KKeXYeP?editors=1010). Although it might be as simple as forwarding the test attribute to the hidden input … but there are likely other side effects to worry about like event listeners, etc.

I'll play with it, but it won't be a fast fix.

[2022-11-17 20:43] lennartbuit commented on #89
Thats alright; I think my naive workaround is enough for the foreseeable future. Let me know if theres anything I can do for you ^^.

[2022-11-21 18:05] TechQuery opened #91 "Type definition is incompatible with TypeScript 4.9"
## Expect

Build successfully with TypeScript 4.9:

[code]

## Actual

[code]

If I rollback to `typescript@4.8.4`, this error disappears.

## Environment

| Software         | Version(s)          |
| ---------------- | ------------------- |
| Node             | 16.18.0             |
| PNPM             | 7.16.0              |
| Operating System | Windows 10 Pro 21H2 |